

nav {
    color: #8A96A1;
}
header nav div {
    color: #8A96A1;
}

div ul li a{
    color: #8A96A1;
}

header div h6 {
   color: #8A96A1;
}

.logo-img {
    max-height: 40px;
}

header {
    width: 100%;
}

.paginator-baner {
    width: 100%;
}


.cards {
    transition: transform 0.2s;
    height: 25rem;
}
.cards img {
  height: 15rem;
  object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .cards img {
    height: 10rem;
    object-fit: cover;
  }
  
  }




.card:hover {
    transform: translateY(-3px);
  }


  

  h1 {
    color: #D90368;
  }

  h6 .display {
    color:  #8A96A1;
  }




footer div ul li i {
    color: #8A96A1;
}

footer p {
    color: #8A96A1;
}
  
  

/* details.html */



.container-details{
  height: 100%;
}
  
  
  
  


